$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;

$desktop-max-width: 1440px;
$desktop-min-width: 1024px;
$tablet-width: 768px;

$white: #ffffff;
$orange: #fe8057;
$blue: #4e93e1;
$light-blue: #c4eeff;
$dark-bg: #25262a;